<nav class="tab-container">
    <a href="{{ path('admin_posts_create') }}" class="tab w-1/2" id="create">Nouveau</a>
    <a href="{{ path('admin_posts_read') }}" class="tab w-1/2" id="read">Consulter</a>
</nav>

<script src="{{ asset('js/posts_menu.js') }}"></script>